* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-style: italic;
  font-size: 50px;
  margin-bottom: 30px;
  color: #6a1b9a;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  padding: 5px;
}

form {
  margin: 30px 0;
}

form button {
  font-size: 15px;
  background-color: #6a1b9a;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

form button:hover {
  background-color: #4a148c;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

li {
  background-color: #bec0c2;
  padding: 15px;
  margin-bottom: 10px;
}
